<VirtualHost *:80>
	ServerName www.{{ virtual_server }}.com
	ServerAdmin webmaster@{{ virtual_server }}.com
	DocumentRoot /var/www/{{ virtual_server }}/html
	
	<Directory /var/www/{{ virtual_server }}/html>
		Options Indexes FollowSymLinks
		AllowOverride none
		Require all granted
	</Directory>
</VirtualHost>
