<VirtualHost *:80>
	ServerName www.ejemplo.com.uy
	ServerAdmin webmaster@ejemplo.com.uy
	DocumentRoot /var/www/ejemplo.com.uy/html
	
	<Directory /var/www/ejemplo.com.uy/html>
		Options Indexes FollowSymLinks
		AllowOverride none
		Require all granted
	</Directory>
</VirtualHost>
